/* ================================================================== 
STRUCTURE & RESPONSIBILITIES
==================================================================== */
/*
{- hero section 
  - hero card design
  - hero swiper buttons
  - hero swiper
  - hero section breakpoints 
}
*/

/* 
{- suggestion section 
  - suggestion big screen 
    - suggestion col for all screen 
  - suggestion swiper css 
    - suggestion swiper 
      - suggestion swiper 
  - suggestion section breakpoints 
}
*/

/*
{- product section
  - product section breakpoints 
}
*/

/* 
{- deals section 
  - deals section breakpoints 
}
*/

/* ==================================================================== */


/* hero section start */

.hero-section {
  background-color: white;
  padding: 0 2rem;
}

.hero-section-flex {
  border-radius: 1rem;
}

/* hero swiper start */
.hero-swiper {
  height: 42rem;
  border-radius: 1rem;
}

.hero-swiper-slide {
  padding: 3rem;
  padding-right: 0;
  padding-left: 4rem;
  border-radius: 1rem;
  background-color: rgb(241, 249, 255);
}

/* hero card design start */
.hero-swiper-slide-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  width: 100%;
  height: 100%;
  max-width: 1250px;
}

.hero-content {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}


.hero-swiper-deals {
  font-size: 1.7rem;
  color: black;
}

.hero-title {
  font-size: 3.3rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hero-subtitle {
  font-size: 1.4rem;
  color: rgb(72, 69, 69);
  display: none;
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.8rem 1.8rem;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  font-size: 1.4rem;
  transition: all 0.3s ease;
}

.hero-button span {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


.hero-img {
  width: fit-content;
  height: fit-content;
}

.hero-img img {
  width: 350px;
  height: auto;
}

/* hero card design end */

/* hero swiper end */


/* hero swiper buttons start */
.hero-swiper-buttons {
  justify-content: center;
  padding: 0 2rem;
  display: none;
}

.hero-swiper-buttons-flex {
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-swiper-custom-pagination {
  bottom: -2.5rem;
  pointer-events: none;
}

.hero-swiper-bullet {
  width: 1rem;
  height: 1rem;
  pointer-events: auto;
}

/* hero swiper buttons end */

/* hero section breakpoints start */
@media(max-width: 1500px) {
  .hero-swiper-buttons {
    display: none;
  }
}

@media(max-width: 1440px) {
  .hero-swiper {
    height: 50rem;
  }
}


@media(max-width: 1200px) {
  .hero-swiper {
    height: 40rem;
    height: clamp(40rem, calc(550 / 1200 * 100vw), 50rem);
  }
}


@media(max-width: 1057px) {
  .hero-swiper-slide-flex {
    gap: 1rem;
  }

  .hero-content {
    gap: 3rem;
    gap: clamp(3rem, calc(40 / 1057 * 100vw), 4rem);
  }


  .hero-swiper-deals {
    font-size: clamp(1.4rem, calc(17 / 1057 * 100vw), 1.7rem);
  }

  .hero-title {
    font-size: 3rem;
    font-size: clamp(3rem, calc(37 / 1057 * 100vw), 3.7rem);
  }

  .hero-subtitle {
    font-size: clamp(1.3rem, calc(16 / 1057 * 100vw), 1.6rem);
  }

  .hero-img img {
    width: clamp(200px, calc(450 / 1057 * 100vw), 450px);
  }
}

@media(max-width: 811px) {
  .hero-swiper {
    height: fit-content;
  }

  .hero-swiper-slide {
    padding-right: 0;
    padding-left: 0;
  }

  .hero-swiper-slide-flex {
    flex-direction: column;
  }

  .hero-content {
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .hero-title {
    font-size: clamp(2.5rem, calc(30 / 1057 * 100vw), 3rem);
  }

  .hero-subtitle {
    line-height: 5rem;
    font-size: clamp(1.3rem, calc(16 / 1057 * 100vw), 1.6rem);
  }

}

/* hero section breakpoints end */

/* hero section end */






















/* suggestion section start */
.suggestion-section {
  margin-top: 5rem;
}


/* suggestion big screen start */
.suggestion-section-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}


/* suggestion col for all screen start */
.suggestion-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-radius: 1rem;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.suggestion-col1 {
  background-color: #F1F8F1;
}

.suggestion-col2 {
  background-color: #EDEFFF;
}

.suggestion-col3 {
  background-color: #F3F3F3;
}

.suggestion-col4 {
  background-color: #EDEDF5;
}

@media(pointer: fine) {
  .suggestion-col:hover {
    transform: scale(1.02);
  }
}

@media(pointer: coarse) {
  .suggestion-col:active {
    transform: scale(1.02);
  }
}

.suggestion-content {
  color: black;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.suggestion-title {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.7rem 1rem;
  background-color: white;
  border-radius: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.suggestion-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.suggestion-img {
  width: 100%;
  height: auto;
}

/* suggestion col for all screen end */

/* suggestion big screen end */


/* suggestion swiper start */
.suggestion-swiper-section {
  display: none;
}

.suggestionSwiper {
  border-radius: 1rem;
  height: fit-content;
}

.suggestion-swiper-slide {
  border-radius: 1rem;
  height: fit-content;
}

/* suggestion swiper buttons start */
.suggestion-swiper-buttons {
  /* display: none; */
  padding: 2rem;
}


.suggestion-swiper-custom-pagination {
  bottom: -3rem;
  display: none;
}

.suggestion-swiper-bullet {
  width: 1rem;
  height: 1rem;
  min-width: 0.85rem;
  min-height: 0.85rem;
}

/* suggestion swiper buttons end */

/* suggestion swiper end */


/* suggestion section breakpoints start */
@media(max-width: 1165px) {
  .suggestion-section-grid {
    grid-template-columns: repeat(2, 1fr);
    display: none;
  }

  .suggestion-swiper-section {
    display: flex;
  }

  .suggestion-col {
    width: 100%;
    height: fit-content;
  }

  .suggestion-img {
    width: 100%;
    height: auto;
  }
}

/* suggestion section breakpoints end */

/* suggestion section end */
























/* product section start */
.product-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5rem;
}

.product-section-flex {
  width: 100%;
  gap: 1.5rem;
}

.product-section-flex .product-title {
  font-size: 2.5rem;
  font-weight: 500;
}

.product-grid {
  display: grid;
  gap: 1.6rem;
  row-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}


/* product section breakpoints start */
@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* product section breakpoints end */

/* product section end */














/* deals section start */

.deals-section {
  margin-top: 5rem;
}

.deals-section-flex {
  border-radius: 2rem;
  position: relative;
  gap: 2rem;
}


.deals-title {
  font-size: 2.5rem;
  font-weight: 500;
}


.deals-container {
  background-color: #F5F7FA;
  width: 100%;
  height: 40rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  position: relative;
}

.deals-time {
  font-size: 2rem;
}

.deals-name {
  font-size: 3rem;
  font-weight: 500;
}

.deals-countdown {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.deals-space-for-time {
  font-size: 1.8rem;
}

.deals-day,
.deals-hour,
.deals-minute {
  font-size: 1.4rem;
  font-weight: 500;
  width: 3.8rem;
  height: 3.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
}

.deals-discount {
  font-size: 1.7rem;
  font-weight: 500;
  position: absolute;
  top: 3rem;
  left: 3rem;
  background-color: rgb(252, 113, 113);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.deals-button {
  margin-top: 1.5rem;
}

.deals-button a {
  background-color: black;
  color: white;
  font-size: 1.4rem;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
}

/* deals section breakpoints start */
@media(max-width: 450px) {
  .deals-container {
    height: 40rem;
  }

  .deals-discount {
    font-size: 1.5rem;
  }

  .deals-button {
    margin-top: 2rem;
  }
}

/* deals section breakpoints end */
/* deals section end */

















